.card-content-center {
  justify-content: center;
}

.checkbox-inline {
  padding: 0 0;

  .checkbox {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
  }
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ span:after {
      display: block;
    }
  }

  span {
    border: 1px solid #9ea2ac;
    border-radius: 3px;
    background: none;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;

    &:after {
      border: solid #9ea2ac;
      content: '';
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      margin-left: -2px;
      margin-top: -6px;
      width: 5px;
      height: 10px;
      border-width: 0 2px 2px 0/*rtl:ignore*/ !important;
      transform: rotate(45deg)/*rtl:ignore*/;
    }
  }
}

.class-item {
  display: flex;
  align-items: stretch;
  border-radius: 3px;
  margin: 0 0 20px 0;

  .class-item-name {
    align-self: center;
    flex-grow: 1;
  }

  .class-item-freq {
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      font-family: sans-serif
    }
  }

  span {
    font-size: 0.8rem;
  }
}



